html {
    color-scheme: dark;
}

body {
    background-color: #212121;
    color: #fff;
    color-scheme: dark;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
}

h1 {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto
}

li {
    width: 45%; /* Adjust the width as necessary */
    margin: 10px 10px; /* Reduce horizontal margin */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
}

audio {
    margin-top: 10px;
    width: 100%; /* Make sure audio controls span the width of the list item */
}