name: Publish Docker image

on:
  push:
    branches:
      - main
    paths:
      - '**.go'
      - '**.sum'
      - '**.mod'
      - 'Dockerfile'
      - '.github/workflows/main.yml'
      - '**.html'
      - '**.js'
      - '**.css'
    tags:
      - '*'
  workflow_dispatch:

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@60a0d343a0d8a18aedee9d34e62251f752153bdb
        with:
          images: johnnycyan/ai-twitch-tts

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@5cd11c3a4ced054e52742c5fd54dca954e0edd85
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Set up Go
        if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'

      - name: Build for Windows
        if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        run: |
          GOOS=windows GOARCH=amd64 go build -ldflags="-s -w" -o ${{ github.event.repository.name }}.exe .

      - name: Zip Windows build
        if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        uses: vimtor/action-zip@v1.2
        with:
          files: ${{ github.event.repository.name }}.exe static/
          recursive: false
          dest: ${{ github.event.repository.name }}_windows.zip

      - name: Build for Linux
        if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        run: |
          GOOS=linux GOARCH=amd64 go build -ldflags="-s -w" -o ${{ github.event.repository.name }} .

      - name: Zip Linux build
        if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        uses: vimtor/action-zip@v1.2
        with:
          files: ${{ github.event.repository.name }} static/
          recursive: false
          dest: ${{ github.event.repository.name }}_linux.zip

      - name: Generate version number
        if: (github.ref == 'refs/heads/main' && github.event_name == 'push') || github.event_name == 'workflow_dispatch'
        run: echo "RELEASE_VERSION=$(date '+%Y.%m.%d-%H.%M.%S')" >> $GITHUB_ENV

      - name: Create Release
        if: (github.event_name == 'push') || github.event_name == 'workflow_dispatch'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref == 'refs/heads/main' && env.RELEASE_VERSION || github.ref_name }}
          name: Release ${{ github.ref == 'refs/heads/main' && env.RELEASE_VERSION || github.ref_name }}
          draft: false
          prerelease: false
          files: |
            ${{ github.event.repository.name }}_windows.zip
            ${{ github.event.repository.name }}_linux.zip
          token: ${{ secrets.GITHUB_TOKEN }}
